
/* 
.css-i02g0k-MuiTableCell-root{
    background-color: #040825;
    color: white;
}

.css-1q1u3t4-MuiTableRow-root{
    background-color: #040825;
    color: white;
}

.css-y8ay40-MuiTableCell-root{
    background-color: #040825;
    color: white;
}

.css-177gid-MuiTableCell-root{
    background-color: #040825;
    color: white;
}


.css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon{
    color: white;
}

.css-1fw5qro-MuiPaper-root{
    background-color: #040825;
} */

#table-cell{
    color: white;
    background-color: #040825;
}
.css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar{
    background-color: #040825;
    color: white;
}

#table-pagination{
    background-color:  #040825;
    color: white;
}

#table-head{
    background-color: #040825;
    color: white;
}

#table-body{
    color: white;
}

.img-table{
    height: 35px;
}
#table-cell{
    color: white;
}
