

.coinDetailsMain{
    height: 90vh;
    background-color: #040825;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.coinDetailsCard{
    width: 75%;
    height: auto;
    border-radius: 15px;
    background-color: #19171f;
    box-shadow: 0px 0 25px 3px rgba(116, 79, 168, 0.9);
    padding: 30px;
}

.coin-card-main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card-sec1{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-sec1 > h2{
    color: aliceblue;
}

.coin-logo{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}


p{
    font-size: 19px;
    font-weight: 500;
    font-family: sans-serif;
    padding: 10px;
    color: aliceblue;
}

@media (max-width: 1190px) {
    .coin-card-main{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        align-content: space-around;

  }
}

.positive-change {
    color: green;
  }
  
.negative-change {
color: red;
}

.coin-error-pg{
    height: 90vh;
    background-color: #040825;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.coin-error-card{
    width: 75%;
    height: 40%;
    border-radius: 15px;
    background-color: #19171f;
    box-shadow: 0px 0 25px 3px rgba(116, 79, 168, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}


.coin-error{
    color: aliceblue;
    margin-top: 0px;
  }
