*{
    padding: 0;
    margin: 0;
}


.about-pg{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #040825;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    color: white;
    align-content: center;
    flex-wrap: wrap;
}

.title-about{
    padding: 80px 0px 30px 0px;
    font-size: 20px;
}

.sub-about{
  align-self: flex-start;
  padding-left: 0px;
  font-size: 20px;
  font-weight: bold;
}
h3{
    padding-left: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.p-about{
    align-self: flex-start;
    padding-left: 50px;
    width: 70%;
    font-size: 20px;
}


ul{
    padding-left: 60px;
}

li{
    padding-bottom: 20px;
    width: 80%;
    font-size: 15px;
}

hr{
    color: white;
    width: 80%;
    margin-bottom: 20px;
    margin-top: 15px;
    box-shadow: 0px 0 25px 3px rgba(116, 79, 168, 0.9);

}

.input-about{
    align-self: flex-start;
    margin-bottom: 30px;
    max-width: 300px;
    margin-left: 40px;

}

.btn-about{
    margin-bottom: 20px;
    padding: 1px 5px 1px 5px;
    font-size: 12px;
    font-weight: bold;
}

.textarea{
max-width: 80%;}